<html>
    <head>
        <p><b>List All of your instances</b></p>
    </head>
    <body>
        <!-- DataTables CSS -->
        <link rel="stylesheet" type="text/css" href="/static/DataTables/media/css/jquery.dataTables.css">          
        <!-- jQuery -->
        <script type="text/javascript" charset="utf8" src="/static/DataTables/media/js/jquery.js"></script>          
        <!-- DataTables -->
        <script type="text/javascript" charset="utf8" src="/static/DataTables/media/js/jquery.dataTables.js"></script>
        <script type="text/javascript" charset="utf8">
            $(document).ready( function () {
                $('#t_table').DataTable();
            } );
        </script>       
        <table id="t_table" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th align="left">InstanceID</th>
                    <th align="left">Name</th>
                    <th align="left">Project</th>
                    <th align="left">类型</th>
                    <th align="left">挂载状态</th>
                    <th align="left">地区</th>
                    <th align="left">私网IP</th>
                    <th align="left">公网IP</th>
                    <th align="left">VpcID</th>
                    <th align="left">子网ID</th>
                    <th align="left">ImageID</th>
                    <th align="left">虚拟化类型</th>
                    <th align="left">创建时间</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th align="left">InstanceID</th>
                    <th align="left">Name</th>
                    <th align="left">Project</th>
                    <th align="left">类型</th>
                    <th align="left">挂载状态</th>
                    <th align="left">地区</th>
                    <th align="left">私网IP</th>
                    <th align="left">公网IP</th>
                    <th align="left">VpcID</th>
                    <th align="left">子网ID</th>
                    <th align="left">ImageID</th>
                    <th align="left">虚拟化类型</th>
                    <th align="left">创建时间</th>
                </tr>
            </tfoot>            
            <tbody> 
                {% for instance in instances %} 
                <tr>
                    {% for i in instance %}
                        <td>{{ i }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>            
        </table>
    <hr>
    <p>&copy; imbusy.me 2013-2016</p>
    </body>
</html>