<html>
    <head>
        <p><b>List All of your EBS volumes</b></p>
    </head>
    <body>
        <!-- DataTables CSS -->
        <link rel="stylesheet" type="text/css" href="/static/DataTables/media/css/jquery.dataTables.css">
        <!-- jQuery -->
        <script type="text/javascript" charset="utf8" src="/static/DataTables/media/js/jquery.js"></script>
        <!-- DataTables -->
        <script type="text/javascript" charset="utf8" src="/static/DataTables/media/js/jquery.dataTables.js"></script>
        <script type="text/javascript" charset="utf8">
            $(document).ready( function () {
                $('#t_table').DataTable();
            } );
        </script>
        <table id="t_table" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th align="left">卷ID</th>
                    <th align="left">磁盘类型</th>
                    <th align="left">磁盘大小GB</th>
                    <th align="left">挂载状态</th>
                    <th align="left">IOPS性能</th>
                    <th align="left">区域</th>
                    <th align="left">所属项目</th>
                    <th align="left">所属实例</th>
                    <th align="left">来源快照ID</th>
                    <th align="left">创建时间</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th align="left">卷ID</th>
                    <th align="left">磁盘类型</th>
                    <th align="left">磁盘大小GB</th>
                    <th align="left">挂载状态</th>
                    <th align="left">IOPS性能</th>
                    <th align="left">区域</th>
                    <th align="left">所属项目</th>
                    <th align="left">所属实例</th>
                    <th align="left">来源快照ID</th>
                    <th align="left">创建时间</th>
                </tr>
            </tfoot>
            <tbody>
                {% for volume in volumes %}
                <tr>
                    {% for i in volume %}
                        <td>{{ i }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    <hr>
    <p>&copy; imbusy.me 2013-2016</p>
    </body>
</html>
